<div class="card-body text-center">
  <h3 class="" style="padding:15px;">Message</h3>
</div>
<div class="container-fluid" style="padding-left:35px">
  <div>
    <h4>Student got disconnected.</h4></div>
  <div><span style="margin-right:10px;">Please wait....</span><button ng-show="dataVariables.IsEndSession" ng-click="endSession()" class="btn btn-default" type="button" name="button">End Session</button></div>
  <div>
    <h4></h4></div>
</div>'
